<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Client Form</title>
  <style>
    .error{
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        color: #d61010;
    }
  </style>
</head>
<body>

  Fill The Form. Please, Enter Required Data.
  <br><br>

  <form th:action="@{processForm}" th:object="${client}" method="post">

    First Name: <input type="text" th:field="*{firstName}"/><br></br>

    Last Name: <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="${client.lastName}"
          class="error">
    </span><br></br>

    Client Age: <input type="text" th:field="*{age}"/>
    <span th:if="${#fields.hasErrors('age')}"
          th:errors="${client.age}"
          class="error">
    </span><br></br>

    Zip code: <input type="text" th:field="*{zipCode}"/>
    <span th:if="${#fields.hasErrors('zipCode')}"
          th:errors="${client.zipCode}"
          class="error">
    </span><br></br>
    <input type="submit" value="Save">

  </form>
</body>
</html>